*,
*::before,
*::after {
  background-color: #1a1a1a;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

@font-face {
  font-family: Hapna;
  src: url(../assets/fonts/hapna.woff2) format("woff2"), url(../assets/fonts/hapna.woff) format("woff"), url(../assets/fonts/hapna.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: RDRLino;
  src: url(../assets/fonts/RDRLino-Regular.woff2) format("woff2"), url(../assets/fonts/RDRLino-Regular.woff) format("woff"), url(../assets/fonts/RDRLino-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.big {
  font-size: 1.4rem;
  color: red;
}

body {
  margin: 10px;
  font-family: Hapna, serif;
  display: flex;
  flex-wrap: wrap;
  height: 620px;
}
.credentials {
  width: 220px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 15px auto;
}

.main-container {
  display: grid;
  width: 420px;
  align-content: flex-start;
  max-height: 100%;
  margin: 20px auto;
}

.custom-input {
  display: flex;
  margin: auto;
  width: 100%;
  height: 2.5rem;
  /* align-items: center;
  align-content: center; */
}

.custom-input select,
.custom-input input,
.custom-input label {
  width: 150px;
  margin-right: 10px;
}

.custom-input-narrow {
  display: flex;
  width: 100%;
  height: 2.4rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}


.custom-input-narrow label {
  width: 80px;
  margin-right: 0 10px 0 0 !important;
}

.custom-input-narrow input {
  width: 60px !important;
  margin: 0;
}

.custom-input-narrow span {
  width: 250px;
}

.custom-input-narrow span::before {
  content: "%: $";
}

.main-container .right {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  align-content: center;
}

.main-container .right {
  margin: auto 10px;
}


#max-loot-value {
  color: greenyellow;
}

#max-loot-value::before {
  content: '$';
  color: greenyellow;
}

#elite-challenge::before,
#fencing-fee::before,
#pavel-fee::before {
  content: '$';
}

hr {
  margin: 10px 0;
  width: 95%;
}

a,
a:visited {
  color: rgb(0, 153, 255);
  text-decoration: none;
}

.hidden {
  display: none !important;
  user-select: none;
}

input,
select {
  outline: none;
  border: none;
  width: 100%;
  background-color: #222;
  border: none;
  padding: 4px 10px;
  color: #f0f0f0;
  font-size: 12px;
  height: 70%;
  border-radius: 3px;
  margin-left: 6px;
  text-overflow: ellipsis;
  cursor: pointer;
}

.input-container label {
  line-height: 24px;
  width: 100%;
  text-align: left;
}

.input-checkbox-wrapper {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  margin-left: 6px;
}

.input-checkbox-wrapper .input-checkbox {
  display: none;
}

.input-checkbox-wrapper .input-checkbox-label {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../assets/selection_boxes.png);
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  cursor: pointer !important;
}

.input-checkbox-wrapper .input-checkbox:checked+.input-checkbox-label {
  background-position: right center;
}

.input-checkbox-wrapper .input-checkbox:disabled+.input-checkbox-label {
  cursor: not-allowed !important;
}

.input-checkbox-wrapper .input-checkbox+.input-checkbox-label,
.input-text,
.input-action {
  margin-top: 5px;
}

#donate {
  margin: 5px 0 10 0;
  display: flex;
  justify-content: space-between;
  background-image: url(../assets/menu_donate.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10px;
}

.donate-form .input-text {
  margin: auto 0 auto auto;
}

input[type="number"] {
  margin: 0 6px;
  width: 150px;
  padding: 0 0 0 14px;
}

.darken {
  color: bisque;
}

.button {
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  width: 45%;
  height: 25px;
  border: 2px solid #acacac;
  background-color: #2222
}

.flex-buttons {
  display: flex;
  margin: 5px -5px;
}

.dimmed {
  opacity: .65;
}

.properties {
  margin: 25px 0;
}

#bags_fill {
  font-size: 1.15em;
  color: rgb(255, 255, 121);
}

h4 {
  margin-top: 15px;
}

.stacks-values {
  display: flex;
  margin: 5px 40px 0 0;
  line-height: 1.8rem;
}

.targets-names {
  min-width: 90px;
}

.targets-bags,
.targets-stacks {
  min-width: 110px;
}
